body {
  background-color: antiquewhite;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  background-color: antiquewhite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  border: 1px solid rgba(0, 0, 0, 0.266);
  padding: 10px 50px;
}

.dashboard {
  border: 1px solid rgba(0, 0, 0, 0.266);
  padding: 10px 10px;
}

.top-part {
  display: flex;
}

.top-part div {
  padding: 10px 10px;
  margin: 0px 20px;
  justify-content: center;
  text-align: center;
}

.dashboard-inner {
  border: 1px solid rgba(0, 0, 0, 0.266);
  width: 279px;
  height: 300px;
  text-align: center;
  border-radius: 10px;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%)
}

.dashboard-inner span {
  display : flex;
  justify-content: center;
}

.dashboard-inner span p {
  margin-top: 20px;
  padding-left: 20px;
}

.dashboard-inner img {
  width: 30%;
  height: auto;
}

.bot-inner {
  width: auto;
  height: auto;
  margin: 10px 20px;
}